<div *ngIf="post$|async as post; else loading">

  <div class="post">
    <div class="header">
      <h1>{{post.title}}</h1>

      <button routerLink="/" class="toMain ">To main</button>
    </div>



    <div class="view">
      <quill-view-html [content]="post.text" >
      </quill-view-html>
    </div>

    <div class="info">
      <strong>{{post.author}}</strong>
      <small>{{post.date|date:'medium':'':'ru'}}</small>
    </div>
  </div>


</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
