/*
.posts{
  max-width: 600px;
  margin: 0 auto;
}
*/
.wrap-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427;
}
