<app-alert></app-alert>
<nav class="navbar nav ">

  <button [routerLink]="['/']">Blog</button>


  <ul *ngIf="auth.isAuthenticated()">
    <li routerLinkActive="active">
      <a [routerLink]="['/admin','dashboard']">
        Main
      </a>
    </li>
    <li    routerLinkActive="active">
      <a [routerLink]="['/admin','create']">
        Create
      </a>
    </li>
    <li>
      <a (click)="logout($event)">Exit</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

